figure{
    width: 150px;
    float: left;
    margin: 80px;
    visibility: hidden;
}
img{
    width: 250px;
    height: 250px;
}
.first{
    clear: both;
}
.overlayed{
    position: absolute;
    top:10px;
    left: 10px;
    display: none;
}
.dis{
    display: none;
}
.hif{
    visibility: hidden;
}