figure{
    margin: 0;
    border: 1pt solid #a8a8a8;
    background-color: #EDEDDD;
    padding: 5px;
    width: 150px;
    /* position: fixed; */
    top: 150px;
    left: 200px;
    z-index: -1;
    float: left;
    padding: 5px;
}
figcaption{
    background-color: #EDEDDD;
    padding: 5px;
    /* position: absolute; */
    top: -15px;
    left: 100px;
    z-index: 1;
    float: right;
    margin: 10px;
}
img{
    width: 150px;
    height: 100px;
}