header{
    background-color: blue;
    width: 100%;
    top: 10px;
}
/* body::after{
    content: "";
    display: table;
    clear: both;
   
} */

/* nav{
    background-color: rgb(174, 184, 179);
    width: 300px;
    float: left; */
    /* display: inline-block; */
/* } */
/* .second{
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
} */
/* .last{
    background-color: rgb(174, 184, 179);
    /* float: right; */
    /* width: 300px;
    display: inline-block;
    margin-left: 80%;
    top: 0;
} */ */
footer{
    background-color: blue;
    text-align: center;
    color: white;
}
