body{
    background-color: chocolate;
}
h1{ 
    font-size: 28;text-align: center;
}
h2{
    text-align: center;
}
.begin{
    font-style: italic;
    color: red;
}
.easy{
    color: #000;
    font-style: italic;
}
a:hover{
    text-decoration: none;
    font-weight: bold;
}
a:link{
    text-decoration:underline;
    color:blue;
}
a:visited{
    text-decoration: underline;
    color: purple;
}
a:active{
    background-color: yellow;
}