table{
    border: 2px solid cornsilk;
    text-align: justify;
    
    
}
tr,td,th{
    border: 2px solid cornsilk;
    text-align: justify;
    width: 680px;
}
td{
    width: 40%;
    height: 40%;
}
img{
    width:500px; 
}