.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .product-designer{
      height: 100px;
  }
  .asset1{
      height: 100px;
  }
  .loving2{
      height: 100px;
  }