body{
    margin: 0;
    padding: 40px;
}
.topbar{
    display: flex;
    background-color: burlywood;
    margin-bottom: 30px;
}
.web-logo{ 
    margin-right: 70%;
}
li{
    top: 20px;
    list-style: none;
    float: right;
    margin: 20px;
}
.product-designer{
    display: flex;
    height: 30%;
    background-color: rgb(139, 129, 129);
    margin-bottom: 30px;
}
.content-div{
    margin-bottom: 20px;
    height: 100%;
}
.designer-image-div{
    width: 40%;
}
.product-designer{
    height: 100px;
}
.asset1{
      height: 100px;
      width: 100%;
      height: 100%;
  }
.about-me{
    display: flex;
    height: 400px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: #000;
  }
 
  
  .loving2{
      height: 300px;
      width: 80%;
  }