body{
    margin: 0;
    padding: 40px;
}
.topbar{
    display: flex;
    /* display: inline-block; */
    /* height: 30px; */
}
.web-logo{ 
    margin-right: 70%;
}
li{
    top: 20px;
    list-style: none;
    float: right;
    /* width: 50px; */
    margin: 20px;
}
.main-body{

}
.product-designer{
    display: flex;
    height: 400px;
    /* width: 50%; */
}
.content-div{
    width: 50%;
}
.designer-image-div{
    width: 40%;
}
.about-me{
    display: flex;
    height: 400px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: #000;
  }
  .product-designer{
      height: 100px;
  }
  .asset1{
      height: 300%;
      width: 80%;
  }
  .loving2{
      height: 300px;
      width: 80%;
  }